<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>927760867716-v1dkqpmck9q5q6nr2tcdimi84bs235v6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.927760867716-v1dkqpmck9q5q6nr2tcdimi84bs235v6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>927760867716-t3ttc61fgfg9osda4misakg7pachians.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAXvGbrVZPO05bB89h_nPB6tUC4mnhqrJw</string>
	<key>GCM_SENDER_ID</key>
	<string>927760867716</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tamizhselvan.todayNews</string>
	<key>PROJECT_ID</key>
	<string>day-today-dfdaf</string>
	<key>STORAGE_BUCKET</key>
	<string>day-today-dfdaf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:927760867716:ios:1fa2885e6ad5587c53bdd1</string>
</dict>
</plist>